*~
*.gmo
*.la
*.lo
*.pyc
*.swp
*.tar.*
.deps
.idea
.libs
.qtc_clangd
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.am.user
Makefile.in
aclocal.m4
autom4te.cache
compile
config*
!configure.ac
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/*/*.desktop
m4/
po/Makefile.in.in
po/POTFILES
po/*.mo
po/stamp-po
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/*.pot
stamp-*
themes/**/*.png
themes/**/*.xpm
